/* Светлая тема */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg: #007bff;
    --header-text: #ffffff;
    --card-bg: #f8f9fa; /* Фон карточек для светлой темы */
    --card-text: #000000; /* Текст карточек для светлой темы */
    --card-header-bg: #007bff;
    --card-header-text: #ffffff;
    --body-bg: #f0f0f0;
    --btn-bg: #dcdcdc; /* Светло-серый фон для кнопок */
    --btn-text: #000000; /* Черный текст для кнопок */
}

body:not(.dark-theme) .btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
}

/* Тёмная тема */
body.dark-theme {
    background-color: #1e1e1e; /* Темно-серый фон */
    color: #f1f1f1;
    --btn-bg: var(--header-bg);
    --btn-text: var(--header-text);
}

body.dark-theme .navbar {
    background-color: #2c2c2c; /* Темный фон для навбара */
    color: #f1f1f1;
}

body.dark-theme .card {
    background-color: #2c2c2c; /* Темный фон для карточек */
    color: #f1f1f1;
}

body.dark-theme .card-header {
    background-color: #343a40; /* Темный заголовок карточек */
    color: #ffffff;
}

body.dark-theme .btn {
    background-color: #007bff;
    color: #ffffff;
}

.card {
    background-color: var(--card-bg);
    color: var(--card-text);
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.card-header {
    background-color: var(--card-header-bg);
    color: var(--card-header-text);
    transition: background-color 0.3s, color 0.3s;
}

.btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-bg);
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #888888; /* Более темный серый для наведения */
    color: #ffffff; /* Белый текст при наведении */
}